@import url('palette.css');

h3 {
    margin-bottom: 20px;
}

#chat-container {
    width: 600px;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    overflow-y: auto;
    height: 60vh;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#chat-messages {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.message {
    margin-bottom: 10px;
    padding: 10px;
    max-width: 50%;
    word-wrap: break-word; /* Permette a del testo troppo lungo di spezzarsi e andare a capo */
    overflow-wrap: break-word; /* Compatibilità con browser vecchi */
    font-family: Verdana, Arial, sans-serif;
    font-size: 14px;
    color: white;
}

.sent {
    background-color: #99c876;
    align-self: flex-end;
    border-radius: 10px 10px 0px 10px;
}

.received {
    background-color: #c89776;
    align-self: flex-start;
    border-radius: 10px 10px 10px 0px;
}

#search-container {
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 1; /* Ensure the button appears on top of the chat */
    display: flex;
    align-items: center;
}

#search-button {
    background-image: url('../res/icons/search.svg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    border: 1px solid rgb(138, 80, 113);
    width: 25px;
    height: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#search-button:hover {
    background-color: #c9bcc3;
}

#search-box-container {
    display: none;
    position: relative;
    margin-left: 10px;
}

#search-box {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*
#scrivi_messaggio is a form that contains two visible input:
the textbox on which the user writes the message and the send
button. I want these two elements to be on the same line
*/
#scrivi_messaggio {
    width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline; /* Align items along the baseline */
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border-radius: 10px;
}