@import url('palette.css');

#page-content {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex: 1;
}

#sidebar {
    flex: 2;
    max-width: 20%;
    height: 80vh;
    background-color: #f2f2f2;
    /*box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);*/
    overflow-y: scroll;
    flex-direction: column;
    overflow-x: hidden;
}

.user-item {
    display: flex;
    align-items: center;
    padding: 10px;
    height: 60px;
}

.user-item:hover {
    background-color: var(--light-color1);
    border-radius: 5px;
}

.user-item.selected {
    background-color: var(--light-color1);
    border-radius: 5px;
}

.profile-pic {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 16px;
}

.user-info {
    flex-grow: 1;
}

.user-name {
    font-size: 16px;
    font-weight: bold;
}

.last-message {
    font-size: 14px;
    color: #888;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: calc(100% - 16px);
}

#no-recipient-selected {
    flex: 8;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #fff;
    width: 800px;
    box-sizing: border-box;
}
  
#no-recipient-selected p {
    font-size: 14px;
    color: var(--color1);
    text-align: center;
}
  
#no-recipient-selected img {
    width: 48px;
    height: 48px;
    margin-bottom: 16px;
}

#chat {
    flex: 8;
    max-width: 80%;
    border-left: 1px solid #ccc;
    height: 80vh;
    display: flex;
    flex-direction: column;
}

#chat[hidden] {
    display: none !important;
}

#chat-user-info {
    height: 10%;
    display: flex;
    align-items: center;
    padding: 16px;
    /* Add a shadow on the bottom of chat-user-info*/
}

#chat-user-info #chat-propic {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 10px;
}
  
#chat-username {
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
}

#search-container {
    top: 0px;
    left: 0px;
    z-index: 1; /* Ensure the button appears on top of the chat */
    display: flex;
    align-items: center;
}

#search-box-container {
    display: none;
    position: relative;
    margin-left: 10px;
}

#search-box {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

#chat-container {
    height: 80%;
    padding: 20px;
    overflow-y: scroll;
    scrollbar-color: #ffffff #ccc;
    background-color: #ffffff;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
    box-sizing: border-box;
    margin-bottom: 10px;
}

#chat-container::-webkit-scrollbar {
    width: 8px;
}

#chat-container::-webkit-scrollbar-track {
    background: #ffffff;
}

#chat-container::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 6px;
}

#chat-container::-webkit-scrollbar-thumb:hover {
    background-color: #888;
}

#chat-messages {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.message {
    margin-bottom: 10px;
    padding: 10px;
    max-width: 50%;
    word-wrap: break-word; /* Permette a del testo troppo lungo di spezzarsi e andare a capo */
    overflow-wrap: break-word; /* Compatibilità con browser vecchi */
    font-family: Verdana, Arial, sans-serif;
    font-size: 14px;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sent {
    background-color: var(--chat-color-sent);
    align-self: flex-end;
    border-radius: 10px 10px 0px 10px;
}

.received {
    background-color: var(--chat-color-received);
    align-self: flex-start;
    border-radius: 10px 10px 10px 0px;
}

#scrivi_messaggio {
    height: 10%;
    margin: auto;
    padding: 20px;
    width: calc(100% - 40px);
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline; /* Align items along the baseline */
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border-radius: 10px;
}