@import url('palette.css');

/* CSS Document for Form Styling */
.error-message {
  margin: auto;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  border-color: var(--error-color);
  background-color: var(--bg-error-color);
  border-radius: 5px;
  width: 300px;
  padding: 20px;
  font-family: sans-serif;
  color: white;
  margin-top: 20px;
}

.small-error-message {
  text-align: center;
  color: white;
  border-style: solid;
  border-width: 2px;
  border-color: var(--error-color);
  background-color: var(--bg-error-color);
  font-size: 12px;
}

.registration-form {
  width: 300px;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  border: 2px solid var(--color4);
  border-radius: 10px;
}

.form-element {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  box-sizing: border-box;
}
  
.registration-form label {
  display: block;
  margin-bottom: 5px;
}

.registration-form .input-neutral {
  border: 1px solid #ddd;
}

.registration-form .input-error {
  border: 2px solid var(--error-color);
}
  
/* Hide the default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
}

/* Style the custom checkbox container */
.checkbox-container {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  display: inline-block;
  line-height: 1.5;
  margin-top: 5px;
  margin-bottom: 5px;
}

.radiobutton {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  position: relative;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}

/* Per le checkbox */
input[type="checkbox"] + label {
  display: inline-block;
  vertical-align: middle;
}

/* Per i radio button */
input[type="radio"] + label {
  display: inline-block;
  vertical-align: middle;
}


/* Style the custom checkmark */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee; /* Background color when unchecked */
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* Style the custom checkmark when checked */
.checkbox-container input:checked + .checkmark {
  background-color: var(--color3); /* Background color when checked */
  border: 1px solid var(--dark-color3); /* Border color when checked */
}

/* Style the checkmark inside the container */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked + .checkmark:after {
  display: block;
}

/* Style the checkmark icon */
.checkbox-container .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

#online_presenza_div {
  display: none;
  align-items: center;
  justify-content: center;
}

#location_div {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dropdown-container {
  position: relative;
  width: 300px;
}

#cittaInput {
  padding: 10px;
  font-size: 16px;
  border: 1px solid var(--color3); /* Blue color, you can change it */
  border-radius: 5px;
}

#cittaDropdown {
  display: none; /* Hide the default dropdown arrow */
}

#getCurrentLocation {
  background-color: var(--color3); /* Blue color, you can change it */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out; /* Smooth background color transition */
}

#getCurrentLocation:hover {
  background-color: var(--dark-color3); /* Darker shade on hover */
}