@import url('palette.css');

.text {
    text-align: left;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

main {
    width: inherit;
    flex: 1;
}

#image-grid-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
}

#altri_tutor_div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Responsive */
@media screen and (max-width: 1000px) {
    #image-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 650px) {
    #image-grid {
        grid-template-columns: 1fr;
    }
}