@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Rubik:wght@500&display=swap');

body {
    margin: auto;
    display: flex;
    flex-direction: column;
}

.text {
    text-align: left;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.container {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 400px;
    margin-right: 400px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(138, 80, 113);
    border-width: 1px;
    width: inherit;
}

.container_title {
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #F8F8F8;
    text-shadow: 1px 1px 1px rgb(138, 80, 113);
}

.container_title_2 {
    margin-top: 25px;
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: rgb(138, 80, 113);
}

header {
    background: linear-gradient(#563440, #9A879D, #CFCFCD, #ffffff);
}

main {
    width: inherit;
}

footer {
    padding: 8px;
    background-color: #9f91a2;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    font-weight: lighter;
    align-items: center;
    display: block;
    margin-top: 10px;
}

#menu {
    background-color: #9f91a2;
    text-align: center;
}

#menu .menu-item {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5px;
    margin-right: 5px;
}

#main_title {
    flex: 1;
    font-size: 50px;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    text-align: center;
    color: #F8F8F8;
    text-shadow: 1px 1px 1px rgb(138, 80, 113);                 
}

.image {
    width: 250px;
    height: 250px;
    margin: 20px auto;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(205, 132, 173);
    border-width: 2px;
    overflow: hidden; /* Hide the overflow to prevent unwanted scrollbars during the zoom effect */
    transition: transform 0.3s ease-in-out; /* Add a smooth transition for the zoom effect */

}

.image:hover {
    transform: scale(1.1); /* Zoom in by 10% on hover */
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
}


.scaling-link:link {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-style: bold;
    text-decoration: none;
    transform: scale(1);
    display: inline-block;
    color: white;
    /* Add a smooth transition effect for a smoother scaling animation */
    transition: transform 0.3s ease-in-out;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.scaling-link:visited {
    color: white;
    border: rgb(205, 132, 173);
}

.scaling-link:hover {
    transform: scale(1.1);
    color: #000000;
}

.textbox {
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(205, 132, 173);
    padding: 5px;
}

.textbox:hover {
    border-color: #8093f1;
}

footer .footer-element {
   /* align-self: center;*/
    font-family: Arial, Helvetica, sans-serif;
}

#contact-card {
    align-items: center;
    display: grid;
}

footer a {
    color: white;
    text-transform: uppercase;
}

footer ul {
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(205, 132, 173);
    padding: 5px;
    background-color: #9f91a2;
    list-style-type: none;
}

footer ul li .important-info{
    color: rgb(255, 255, 255);
}
