#image_div {
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#image-preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#edit-button {
    position: absolute;
    bottom: 5px;
    right: 5px;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid rgb(138, 80, 113);
    width: 25px;
    height: 25px;
    background-color: white;
    background-image: url('../res/icons/edit_icon.svg');
    background-size: cover; /* Adjust as needed: contain, cover, or specific dimensions */
    background-repeat: no-repeat;
}

#file-input {
    display: none;
}

.dragover {
    /* !important serve per facilitare l'override del border che è definito anche in #image_div*/
    border: 1px dashed #563440 !important;
}