:root {
    --color1: #494947;
    --color2: #4CAF50;
    --color3: #3498DB;
    --color4: #7494EA;
    --color5: #F39C12;
    --light-color1: #dadada;
    --dark-color3: #2980B9;
    --dark-color2: #43A047;
    --error-color: #FF5C5C;
    --bg-error-color: #F99898;
}