@import url('palette.css');

h1 {
    text-align: center;
    color: var(--color1);
}

h2 {
    text-align: center;
    color: var(--color1);
}

main {
    margin-bottom: 10px;
}

#reviews-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.review {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    width: 60%;
    height: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.parameter {
    font-weight: bold;
    color: var(--color4);

}

.form-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

label {
    margin-top: 10px;
    color: var(--color2);
    font-weight: bold;
}

#commento {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid var(--color3);
    border-radius: 4px;
    min-width: 60%;
    max-width: 60%;
    width: 60%;
    height: 30px;
    min-height: 30px;
    max-height: 90px;
    font-family: Arial, Helvetica, sans-serif;
}