@import url('palette.css');

#edit-info-btn {
    position: relative;
    align-self: flex-end;
    margin-bottom: 5px;
    width: 30px;
    height: 30px;
}

#edit_info {
    display: none;
    flex-direction: column;
    text-align: center;
}

#edit-button {
    position: sticky;
    align-self: flex-end;
    bottom: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
}

#propic {
    display: none;
}

.dragover {
    /*. !important serve per facilitare l'override del border che è definito anche in #image_div*/
    border: 1px dashed var(--color3) !important;
}

.insegnamento {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.input-box {
    padding: 7px;
    font-size: 16px;
    border: 1px solid var(--color3);
    border-radius: 5px;
    margin-right: 5px;
}

#add_insegnamento {
    background-image: url('../res/icons/add.svg');
}

.remove_insegnamento {
    background-image: url('../res/icons/remove.svg');
}

#submit_div {
    margin-top: 10px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}